<mat-toolbar color="primary">
  <span><a [routerLink]="[ '/']">My Messages</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a *ngIf="isAuth | async" mat-button routerLinkActive="mat-accent" [routerLink]="[ '/create']">Create Post</a>
    </li>
    <li>
      <a *ngIf="!(isAuth | async)" mat-button routerLinkActive="mat-accent" [routerLink]="[ '/auth/login']">Login</a>
    </li>
    <li>
      <a *ngIf="!(isAuth | async)" mat-button routerLinkActive="mat-accent" [routerLink]="[ '/auth/signup']">Sign Up</a>
    </li>
    <li>
      <button *ngIf="isAuth | async" mat-button routerLinkActive="mat-accent" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>